body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

p:hover{
    background-color: rgb(52, 187, 178);
  }

header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.Booking {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Booking h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.Booking h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}

.Booking input, .Booking select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: rgb(29, 3, 3);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 20%;
    margin: 10px auto;
    display: auto;
}

button:hover {
    background-color: #0056b3;
}
